table {
  border-collapse: collapse;
  width: 95%;
  text-align: left;
  margin: 10px auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}