.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timeline {
  text-align: left;
  max-width: 700px;
  margin:15px auto;
}

.timeline-item {
  padding: 5px 5px;
  border-left: 2px solid #333;
}

.timeline-bubble {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px #333 solid;
    border-radius: 50%;
    background: #fff;
    position: relative;
    left: -21px;
    top: -13px;
}

.timeline-item p {
  padding-left : 30px;
}